<div class="form-row">
  <form [formGroup]="myForm" (ngSubmit)="submitForm()" class="form-container">
    <h2>Atribuie un proiect unui manager</h2>
    <mat-form-field appearance="outline" class="form-field">
      <input matInput placeholder="Project Name" formControlName="projectName" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Manager Name</mat-label>
      <mat-select placeholder="Select Manager" formControlName="managerName" required>
        <mat-option *ngFor="let manager of managers" [value]="manager.id">
          {{ manager.username }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button class="custom-button" color="primary" type="submit">Submit</button>
  </form>
  <form [formGroup]="userRole" (ngSubmit)="addUserRole()" class="form-container">
    <h2>Role manager</h2>
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>User name</mat-label>
      <mat-select placeholder="Select Manager" formControlName="userId" required
                  (selectionChange)="onUserSelectionChange($event.value)">
        <mat-option *ngFor="let user of usersWithMissingRoles" [value]="user.id">
          {{ user.username }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Role Permission</mat-label>
      <mat-select placeholder="Select Manager" formControlName="userRoleId" required>
        <mat-option *ngFor="let role of selectedUser?.missingRoles" [value]="role.id">
          {{ role.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button class="custom-button" color="primary" type="submit">Submit</button>
  </form>

  <form [formGroup]="userProjectForm" (ngSubmit)="onUserProjectFormSubmit()" class="form-container">
    <h2>Assign project to user</h2>
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>User</mat-label>
      <mat-select formControlName="selectedUser">
        <mat-option *ngFor="let user of usersWithUserRoles" [value]="user">
          {{ user.username }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Project</mat-label>
      <mat-select formControlName="selectedProject">
        <mat-option *ngFor="let project of projects" [value]="project">
          {{ project.projectName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button class="custom-button" color="primary" type="submit">Save</button>
  </form>
</div>

<div class="content">
  <h2>Managers</h2>
  <app-data-table [data]="dataSource" [columns]="displayedColumns"></app-data-table>
  <h2>Projects</h2>
  <app-data-table [data]="dataSource2" [columns]="displayedColumns2"></app-data-table>
  <h2>User Roles</h2>
  <app-data-table [data]="usersWithRoles" [columns]="displayedColumns3" tableType="user_roles"></app-data-table>
  <h2>User Projects</h2>
  <app-data-table [data]="dataSource4" [columns]="displayedColumns4" tableType="user_projects"></app-data-table>
</div>
