<div class="container">
  <h1>Timesheet</h1>

  <div class="navigation">
    <button mat-icon-button (click)="changeWeek(-1)">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <h2>{{ getWeekNumber(selectedDate) }}</h2>
    <button mat-icon-button (click)="changeWeek(1)">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>

  <div class="week-container">
    <div class="week">
      <div class="week-header">
        <span class="week-period">({{ getWeekPeriod(selectedDate) }})</span>
      </div>
      <div class="days">
        <div class="day-name" *ngFor="let day of getDisplayedDays()">
          {{ day.date | date:'EEE' }}  {{ day.date | date:'d' }}
        </div>
        <div class="day" *ngFor="let day of getDisplayedDays()" (click)="openModal(day)">
          <button mat-icon-button *ngIf="!day.displayProject" (click)="openTimesheetModal(day)">
            <mat-icon>add</mat-icon>
          </button>
          <div class="project-section" *ngIf="day.displayProject">
            <span class="project-name">Nume proiect: {{ day.displayProject }}</span><br>
            <span class="project-hours">Ore pontate: {{ day.timesheetEntry?.hours }}</span>
            <mat-icon class="delete-icon" (click)="deleteTimesheetRecord(day.timesheetEntry.id)"
                      *ngIf="day.timesheetEntry.status ==='Init'">delete
            </mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
