.container {
  text-align: center;
  padding: 20px;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1; /* Adjust the z-index value as needed */
  background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background */
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  /* Other styles */
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.navigation h2 {
  margin: 0 20px;
}

.week-container {
  display: flex;
  justify-content: center;
}

.week {
  border-radius: 5px;
  color: black;
  flex: 1;
  background-color: #f5f5f5;
  margin: 5px;
  padding: 10px;
}

.week-header {
  font-weight: bold;
}

.week-period {
  margin-left: 10px;
  font-weight: normal;
}

.days {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px;
}

.day {
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
  position: relative;
}

.project-wrapper {
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
  position: relative;
  margin-bottom: 10px; /* Add margin-bottom for spacing */
}

.project-section {
  position: relative;
}

.project-name {
  font-size: 14px;
  color: black;
}

.project-hours {
  font-size: 12px;
  color: black;
}

.delete-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 16px;
  color: red;
  visibility: hidden;
  cursor: pointer;
}

::ng-deep .modal-backdrop {
  z-index: 1 !important; /* Adjust the z-index value as needed */
}
.project-section:hover .delete-icon {
  visibility: visible;
}

.send_timesheet_wrapper {
  flex-grow: 1;
  text-align: right;
}

.status {
  flex-grow: 1;
  text-align: right;
}
