<div class="container">
  <h1>Timesheet</h1>

  <div class="navigation">
    <button mat-icon-button (click)="changeWeek(-1)">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <h2>Week {{ getWeekNumber(selectedDate) }}</h2>
    <button mat-icon-button (click)="changeWeek(1)">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>

  <div class="week-container">
    <div class="week">
      <div class="week-header">
        Week {{ getWeekNumber(selectedDate) }}
        <span class="week-period">({{ getWeekPeriod(selectedDate) }})</span>
      </div>
      <div class="days">
        <div class="day-name" *ngFor="let day of getDisplayedDays()">
          {{ day.date | date:'EEE' }}  {{ day.date | date:'d' }}
        </div>
        <div class="day" *ngFor="let day of getDisplayedDays()" (click)="openModal(day)">
          <div class="project" *ngIf="day.timesheetEntry">
            {{ day.timesheetEntry.project }} - {{ day.timesheetEntry.hours }}h
          </div>
          <div class="add-icon" *ngIf="!day.timesheetEntry">
            <button mat-icon-button (click)="openTimesheetModal(day)">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
