<form [formGroup]="timesheetForm" (ngSubmit)="addTimesheetEntry()">
  <div class="modal-header">
    <h4 class="modal-title">Add Timesheet Entry</h4>
    <button type="button" class="close" aria-label="Close" (click)="cancelTimesheetModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <mat-form-field>
      <mat-label>Project</mat-label>
      <mat-select formControlName="project">
        <mat-option *ngFor="let project of projects" [value]="project.projectId">{{ project.projectName }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Hours</mat-label>
      <input matInput type="number" placeholder="Hours" formControlName="hours">
    </mat-form-field>
    <!-- Single Date -->
    <mat-form-field *ngIf="!timesheetForm.get('periodCheckboxChecked')?.value">
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="selectedDate" [min]="minDate" [max]="maxDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field *ngIf="timesheetForm.get('periodCheckboxChecked')?.value">
      <mat-label>Select a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker" formGroupName="dateRange" [min]="minDate" [max]="maxDate">
        <input matStartDate placeholder="Start date" formControlName="startDate">
        <input matEndDate placeholder="End date" formControlName="endDate">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>



    <mat-checkbox formControlName="periodCheckboxChecked" (change)="updateFromDate()">Period</mat-checkbox>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-secondary" (click)="cancelTimesheetModal()">Cancel</button>
  </div>
</form>
