<ng-container *ngIf="tableType !== 'user_roles' && tableType !=='user_projects' && tableType!=='manager_approvals'">
  <table mat-table [dataSource]=" data" class="mat-elevation-z8">
    <ng-container *ngFor="let column of columns" [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef>{{ column | titlecase }}</th>
      <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
</ng-container>
<ng-container *ngIf="tableType === 'user_projects'">
  <table mat-table [dataSource]=" data" class="mat-elevation-z8">
    <ng-container *ngFor="let column of columns" [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef>{{ column | titlecase }}</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="column === 'userProjectId'">
          {{ element.userProjectId }}
        </ng-container>
        <ng-container *ngIf="column === 'userId'">
          {{ element.user.id }}
        </ng-container>
        <ng-container *ngIf="column === 'username'">
          {{ element.user.username }}
        </ng-container>
        <ng-container *ngIf="column === 'email'">
          {{ element.user.email }}
        </ng-container>
        <ng-container *ngIf="column === 'projectId'">
          {{ element.project.id }}
        </ng-container>
        <ng-container *ngIf="column === 'projectName'">
          {{ element.project.projectName }}
        </ng-container>
        <ng-container *ngIf="column === 'managerId'">
          {{ element.project.manager.id }}
        </ng-container>
        <ng-container *ngIf="column === 'managerUsername'">
          {{ element.project.manager.username }}
        </ng-container>
        <ng-container *ngIf="column === 'managerEmail'">
          {{ element.project.manager.email }}
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
</ng-container>
<ng-container *ngIf="tableType === 'user_roles'">
  <table mat-table [dataSource]="data" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>{{ 'id' | titlecase }}</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef>{{ 'username' | titlecase }}</th>
      <td mat-cell *matCellDef="let element">{{ element.username }}</td>
    </ng-container>

    <ng-container matColumnDef="roles">
      <th mat-header-cell *matHeaderCellDef>Roles</th>
      <td mat-cell *matCellDef="let user">
        <ul>
          <li *ngFor="let role of user.roles">{{ role.name }}</li>
        </ul>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let user">
        <mat-form-field appearance="outline" class="form-field">
          <mat-select [value]="getSelectedRoleId(user)" (selectionChange)="onRoleSelectionChange($event, user)" placeholder="Sterge rol">
            <mat-option [value]="role.id" *ngFor="let role of user.roles">
              {{ role.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-icon-button color="warn" (click)="removeRole(user)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
</ng-container>

